html {
    background-color: skyblue;
}
h1 {
    color: teal;
    text-shadow: slategray;
}
hr {
    background-color: black;
}
body {
    width: 600px;
    margin: 25px 502px;
    background-color: #0e4d58;
    color: rgb(12, 229, 229);
    text-shadow: rgb(0, 0, 0);
    padding: 0 20px 20px 20px;
    border: 3px solid black;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}